<div class="padding-top-60">
    <div class="row" ng-hide="loading">
        <div class="col-md-6" ng-repeat="item in popularItems">
            <div class="mini-posts" style="min-height: 80px; margin-bottom: 10px;"
                <article class="style2 style-alt">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="#!/item/{{item.id}}">
                                <div class="article-thumb">
                                    <img ng-src="{{item.photo}}" class="img-responsive" alt="" style="max-height: 80px;">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <div class="post-excerpt no-padding">

                                <h5>
                                    <a href="#!/item/{{item.id}}">{{item.title}}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align: center" ng-show="loading">
        <img src="img/spinner.gif">
    </div>
</div>
<!-- // HOME SECTION 1 -->

<!-- HOME SECTION 2 -->
<h4 class="margin-bottom-15">
    <b>নতুন পোস্ট</b>
</h4>

<div class="row padding-bottom-30">
    <div ng-hide="loading">
        <div class="col-md-4 col-sm-4" ng-repeat="item in newIndexItems">
            <article class="style2 style-alt">
                <div class="margin-bottom-15">
                    <a href="#!/item/{{item.id}}">
                        <div class="article-thumb">
                            <img ng-src="{{item.photo}}" class="img-responsive" alt="" style="height: 200px;">
                        </div>
                    </a>
                </div>
                <div>
                    <div class="post-excerpt no-padding">
                        <h5>
                            <a href="#!/item/{{item.id}}">{{item.title}}</a>
                        </h5>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="col-md-12" style="text-align: center" ng-show="loading">
        <img src="img/spinner.gif">
    </div>
</div>
<!-- // HOME SECTION 2 -->

<!-- HOME SECTION 3 -->
<h3 class="margin-bottom-15">
    <b>সব ক্যাটাগরি</b>
</h3>
<div class="col-md-6 remove-padding" ng-repeat="category in categories">
    <article class="style4 style-alt margin-bottom-10">
        <a href="#!/category/{{category.id}}">
            <div class="overlay overlay-02"></div>
            <div class="post-thumb">
                <div class="small-title cat">{{category.title}}</div>
                <img src="img/home/01/{{category.id}}.jpg" class="img-responsive image-category" alt="">
            </div>
        </a>
    </article>
</div>