<form class="form-signin mg-btm" style="background-color:whitesmoke;">
    <div class="main">
        <h3 class="heading-desc" style="text-align: center; margin-bottom: 25px; font-size: 30px;">লগইন করুন</h3>
        <input type="text" ng-model="email" class="form-control logcss" placeholder="ইমেইল" autofocus>
        <input type="password" ng-model="password" class="form-control logcss" placeholder="পাসওয়ার্ড">
        <a type="button" ng-click="login()" class="btn btn-default login-button">প্রবেশ করুন</a>
        <a href="resetpass.html" class="fpl-link" >পাসওয়ার্ড ভুলে গেছেন? </a>
        <br />
        <p style="margin-top: 12px;">নতুন একাউন্ট প্রয়োজন?<a href="#!/signup" class="fpl-link">রেজিস্ট্রেশন করুন</a></p>
        <span class="clearfix"></span>
        <h3 class="heading-desc" style="text-align: center; margin-top: 10px;">অথবা</h3>
    </div>
    <div class="social-box">
        <div class="row mg-btm" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <a href="javascript:void(0)" ng-click="fblogin()" class="btn btn-primary btn-block">
                    <i class="icon-facebook"></i>ফেসবুকের মাধ্যমে লগইন করুন
                </a>
            </div>
        </div>
    </div>

</form>