<form class="form-signin mg-btm" style="background-color: whitesmoke;" ng-submit="register()">

    <div class="main">
        <h3 class="heading-desc" style="text-align: center; margin-bottom: 25px; font-size: 30px;">নিবন্ধন করুন</h3>
        <input type="text" required ng-model="name" class="form-control logcss" placeholder="ব্যবহারকারীর নাম">
        <input type="email" ng-model="email" required class="form-control logcss" placeholder="ইমেইল">
        <input type="password" ng-model="password" required class="form-control logcss" placeholder="পাসওয়ার্ড দিন">
        <input type="password"ng-model="confirmPassword" required class="form-control logcss" placeholder="পুনরায় পাসওয়ার্ড দিন">
        <div class="checkbox">
            <label>
                <input ng-model="termsAgree" type="checkbox" value=""> আমি<a href="#" class="fpl-link">ব্যবহারের শর্তাবলী</a> পড়েছি এবং একমত পোষণ করছি
            </label>
        </div>
        <input type="submit" ng-disabled="!termsAgree || !name || !email || !password || !confirmPassword" class="btn btn-default login-button" value="সংরক্ষণ করুন" />
        <span style="margin-top: 5px;">আগের একাউন্ট আছে? <a href="#!/login" class="fpl-link">লগইন করুন</a></span>
        <span class="clearfix"></span>
        <label style="color: red">
            {{errorMessage}}
        </label>
    </div>
</form>