<form class="form-signin mg-btm" style="background-color: whitesmoke;">

    <div class="main">
        <h3 class="heading-desc" style="text-align: center; margin-bottom: 25px; font-size: 30px;">নিবন্ধন করুন</h3>
        <input type="text" class="form-control logcss" placeholder="ব্যবহারকারীর নাম">
        <input type="text" class="form-control logcss" placeholder="ইমেইল">
        <input type="text" class="form-control logcss" placeholder="ফোন">
        <input type="password" class="form-control logcss" placeholder="পাসওয়ার্ড দিন">
        <input type="password" class="form-control logcss" placeholder="পুনরায় পাসওয়ার্ড দিন">
        <div class="checkbox">
            <label>
                <input type="checkbox" value=""> আমি<a href="#" class="fpl-link">ব্যবহারের শর্তাবলী</a> পড়েছি এবং একমত পোষণ করছি

            </label>
        </div>
        <button type="button" class="btn btn-default login-button">সংরক্ষণ করুন</button>
        <span style="margin-top: 5px;">আগের একাউন্ট আছে? <a href="login.html" class="fpl-link">লগইন করুন</a></span>
        <span class="clearfix"></span>

    </div>
</form>