<div class="padding-top-60">

    <div class="row">
            <div class="col-md-12">
                <h3 style="margin-bottom: 25px; font-weight: 600;">Showing 1-20 0f 150 for "search tag" </h3>
            </div>
        <div class="col-md-6">
            <div class="mini-posts">
                <article class="style2 style-alt">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="type1.html">
                                <div class="article-thumb">
                                    <img src="img/home/01/2.jpg" class="img-responsive" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <div class="post-excerpt no-padding">

                                <h5><a href="type1.html">What You Missed While Not Watching the Debate</a></h5>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mini-posts">
                <article class="style2 style-alt">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="http://themesquared.com/html/17_post_01.html">
                                <div class="article-thumb">
                                    <img src="img/home/01/2.jpg" class="img-responsive" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <div class="post-excerpt no-padding">

                                <h5><a href="17_post_01.html">What You Missed While Not Watching the Debate</a></h5>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>