<div class="padding-top-60">

    <div class="row">
            <div class="col-md-12">
                <h2 style="margin-bottom: 25px; font-weight: 600;">গোপনীয়তা</h2>
                <p>Deshshera.com এবং থ্রি সিক্সটি ডিগ্রী সফটওয়্যার, ব্যবহারকারী এবং পোস্টদাতার কাছ থেকে তথ্য সংগ্রহ করতে পারে। এটি Deshshera.com ব্যবহার করার একটি শর্ত যে, প্রত্যেক ব্যবহারকারী এবং পোস্টদাতা, Deshshera.com এবং থ্রি সিক্সটি ডিগ্রী সফটওয়্যার কে তথ্য সংগ্রহ এবং ব্যবহারের অনুমতি প্রদান ও অনুমোদন করে।</p>
                <h3 style="margin-bottom: 25px; font-weight: 600;">ব্যবহারকারীদের ইমেল ঠিকানা</h3>
                <p>পোস্ট করার জন্যে ব্যবহারকারীদের একটি কার্যকর ইমেইল ঠিকানা জমা দিতে হয়। ব্যবহারকারীর ইমেইল ঠিকানা প্রকাশ্যে প্রদর্শন করা হবে না এবং অন্যান্য ব্যবহারকারীগণ Deshshera.com- এর মাধ্যমে ঐ ব্যবহারকারীর নিকট ইমেইল পাঠাতে পারবেন।</p>
            </div>
        </div>
    </div>
</div>