<div class="title-post">
    <h2 ng-hide="loading" class="post-heading">{{item.title}}</h2>
    <h6 ng-hide="loading" class="credit">আইডিয়া কৃতিত্ব: {{item.user.name}}</h6>
    <div class="single-meta" ng-hide="loading">
        <div class="col-md-6 col-xs-12">
            <div class="meta pull-left" style="margin-top: 3px;">
                <div class="social">
                    <a href="javascript:void(0)" socialshare socialshare-provider="facebook" socialshare-text="{{item.title}}" socialshare-hashtags="#deshSera"
                        socialshare-url="{{fbLink}}" class="fa fa-facebook"></a>
                    <a href="javascript:void(0)" socialshare socialshare-provider="twitter" socialshare-text="{{item.title}}" socialshare-hashtags="#deshSera"
                        socialshare-url="{{fbLink}}" class="fa fa-twitter"></a>
                    <a href="javascript:void(0)" socialshare socialshare-provider="pinterest" socialshare-text="{{item.title}}" socialshare-url="{{fbLink}}"
                        class="fa fa-pinterest"></a>
                    <a href="javascript:void(0)" socialshare socialshare-provider="linkedin" socialshare-text="{{item.title}}" socialshare-description="{{item.description}}"
                        socialshare-url="{{fbLink}}" class="fa fa-linkedin"></a>
                    <a href="javascript:void(0)" socialshare socialshare-provider="reddit" socialshare-text="{{item.title}}" socialshare-url="{{fbLink}}"
                        class="fa fa-reddit"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" ng-show="token">
            <div class="" ng-hide="item.follow">
                <button type="" ng-click="follow()" class="pochondobutton">এটি পছন্দের তালিকায় যোগ করুন</button>
            </div>
            <div class="" ng-show="item.follow">
                আপনার পছন্দের তালিকায় রয়েছে
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="col-md-12" style="text-align: center" ng-show="loading">
        <img src="img/spinner.gif">
    </div>
</div>


<article class="style2" style="padding-bottom: 0px; border-bottom: 2px solid black;" ng-repeat="option in item.options track by $index">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="post-excerpt desk-block">
                <h3 class="mobile-margin">
                    <span class="numbering-mobile">{{$index+1}}</span>
                </h3>
                <a ng-click="vote(option.id)">
                    <p class="vote-up-icon-mobile" ng-hide="item.vote">ভোট দিন
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                    </p>
                </a>
                <p class="vote-up-icon-mobile" ng-show="item.votes==0 && item.vote">0% ভোট
                </p>
                <p class="vote-up-icon-mobile" ng-show="item.votes!=0 && item.vote">{{(option.votes*100/item.votes).toFixed(2)}}% ভোট
                </p>
            </div>
            <a href="javascript:void(0)" ng-click="goToDetails(item.title, $index+1, option)">
                <div class="article-thumb">
                    <img ng-hide="option.photo" src="https://increasify.com.au/wp-content/uploads/2016/08/default-image.png" class="img-responsive"
                        alt="" />
                    <img ng-show="option.photo" ng-src="http://soft360d.com/topten/images/{{option.photo}}" class="img-responsive" alt="" />
                </div>
            </a>
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="post-excerpt">
                <h3 style="margin-top: 0px;" class="mobile-margin">
                    <span class="numbering">{{$index+1}}</span>
                    <a href="#!/option/{{option.id}}">{{option.title}}</a>
                </h3>
                <a ng-click="vote(option.id)">
                    <p class="vote-up-icon" ng-hide="item.vote">ভোট দিন
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                    </p>
                </a>
                <p class="vote-up-icon" ng-show="item.votes==0 && item.vote">0% ভোট
                </p>
                <p class="vote-up-icon" ng-show="item.votes!=0 && item.vote">{{(option.votes*100/item.votes).toFixed(2)}}% ভোট
                </p>
                <p>{{option.description}}</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="review">
                <a href="#!/option/{{option.id}}">
                    <p class="comment-mo">
                        <i class="fa fa-comment"></i>আপনার মন্তব্য দিন</p>
                </a>
            </div>
        </div>

    </div>
</article>

<div class="clearfix"></div>
<div class="" ng-hide="loading">
    <button class="morelink" style="height: 5em;" data-toggle="modal" data-target="#myModal7">তালিকায় আপনার প্রিয়/পছন্দ বাদ পড়েছে ? যোগ করে দিন !!!</button>
</div>
<div class="clearfix"></div>
<div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" ng-submit="addOption()">
                    <div class="form-group">
                        <label for="usr">আইটেম</label>
                        <input type="text" ng-model="title" required placeholder="আইটেমের নাম" class="form-control kichucss" id="">
                        <textarea class="form-control" required ng-model="description" placeholder="আইটেমের বর্ণনা" rows="3" id="Textarea1"></textarea>
                    </div>
                    <input type="submit" class="btn btn-default mod-button" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="blog-single" ng-hide="loading" style="margin-top: 2em;">

    <div class="tags">
        <span>Tags:</span> &nbsp;
        <a href="#!/tag/{{tag.id}}" ng-repeat="tag in item.tags">{{tag.name}}</a>
    </div>

    <div class="single-meta single-meta2">
        <span>Share: &nbsp;</span>
        <div class="social">
            <a href="javascript:void(0)" socialshare socialshare-provider="facebook" socialshare-text="{{item.title}}" socialshare-hashtags="#deshSera"
                socialshare-url="{{fbLink}}" class="fa fa-facebook"></a>
            <a href="javascript:void(0)" socialshare socialshare-provider="twitter" socialshare-text="{{item.title}}" socialshare-hashtags="#deshSera"
                socialshare-url="{{fbLink}}" class="fa fa-twitter"></a>
            <a href="javascript:void(0)" socialshare socialshare-provider="pinterest" socialshare-text="{{item.title}}" socialshare-url="{{fbLink}}"
                class="fa fa-pinterest"></a>
            <a href="javascript:void(0)" socialshare socialshare-provider="linkedin" socialshare-text="{{item.title}}" socialshare-description="{{item.description}}"
                socialshare-url="{{fbLink}}" class="fa fa-linkedin"></a>
            <a href="javascript:void(0)" socialshare socialshare-provider="reddit" socialshare-text="{{item.title}}" socialshare-url="{{fbLink}}"
                class="fa fa-reddit"></a>
        </div>
    </div>

    <div class="clearfix"></div>


</div>

<div class="clearfix"></div>
<div ng-hide="loading" class="post-nav" style="margin-top: 2em;">
    <div class="row">
        <div class="col-md-6 text-right" ng-show="item.prev">
            <a href="#!/item/{{item.prev.id}}">
                <i class="fa fa-angle-left"></i>
            </a>
            <span class="small-title">আগের পোস্ট পড়ুন</span>
            <h3>
                <a href="#!/item/{{item.prev.id}}">{{item.prev.title}}</a>
            </h3>
        </div>
        <div class="col-md-6 text-right" ng-hide="item.prev">
        </div>

        <div class="col-md-6 text-left" ng-show="item.next">
            <a href="#!/item/{{item.next.id}}">
                <i class="fa fa-angle-right"></i>
            </a>
            <span class="small-title">পরের পোস্ট পড়ুন</span>
            <h3>
                <a href="#!/item/{{item.next.id}}">{{item.next.title}}</a>
            </h3>
        </div>
        <div class="col-md-6 text-left" ng-hide="item.next">
        </div>
    </div>
</div>
<div ng-hide="loading" class="comments" style="margin-top: 2em; padding-bottom: 2em;">
    <div class="fb-comments" fb-comment-box page-href="{{fbLink}}" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
</div>