<div class="title-post">
    <h2 class="post-heading">{{item}}</h2>
</div>
<article class="style2" style="padding-bottom: 0px;">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <a href="#">
                <div class="article-thumb">
                    <img src="img/category/08/1.jpg" class="img-responsive" alt="" />
                </div>
            </a>
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="post-excerpt">
                <h3 class="mobile-margin"><span class="numbering">{{serial}}</span> <a href="17_post_01.html">{{option.title}}</a></h3>
                <p>{{option.description}}</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="fb-comments" fb-comment-box page-href="{{fbLink}}" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
        </div>
    </div>
</article>